.home {
  header {
    a#mlh-trust-badge {
      position: absolute;
      right: 1rem;

      max-width: 100px;
      min-width: 50px;
      width: 10%;

      img { width: 100%; }
    }

    .logo { background: url('/static/img/logo.png') no-repeat center center / contain; }

    .event-date {
      color: $ubhacking-color-java;
      font-size: 1.75rem;
      padding: .25rem 0;
    }

    .scroll-to-main {
      border-radius: 50%;
      border-width: 2px;
      animation: bounce 1s infinite alternate;
    }
    @keyframes bounce {
      from { transform: translateY(0); }
      to { transform: translateY(-10px); }
    }
  }

  main {
    & > section#faq dl div {
      background-color: $ubhacking-color-java-alpha-7;
      border: 0;
    }

    #map {
      background-color: $ubhacking-color-java-alpha-7;
      height: 50vh;
      max-height: 400px;
    }
  }
}
