$ubhacking-color-java: rgb(17, 170, 197);
$ubhacking-color-java-alpha-5: rgba($ubhacking-color-java, .5);
$ubhacking-color-java-alpha-7: rgba($ubhacking-color-java, .7);

//$ubhacking-color-sushi: rgb(113, 188, 41); // brighter
$ubhacking-color-sushi: rgb(113, 183, 67); // duller
