<nav data-sticky-container>
  <div data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">
    <div class="title-bar" data-responsive-toggle="responsive-menu">
      <button class="menu-icon" data-toggle="responsive-menu"></button>
      <div class="title-bar-title" data-toggle="responsive-menu">UB Hacking 2017</div>
    </div>

    <div class="top-bar-container">
      <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left hide-for-small-only">
          <ul class="menu">
            <li class="menu-text">
              <a href="{% url 'index' %}">UB Hacking 2017</a>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal">
            <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
